* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {

}

.App-header {
}

.bg {
    background-size: cover;
    background-image: url("./podcast.webp");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;
    font-size: 1.7rem;
}

span {
    cursor: pointer;
    font-family: cursive;
    letter-spacing: 5px;
}

input {
    border: 10px solid #000;
    width: 100px;
    padding: 20px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin-right: 5px;
}

